body {
    padding:0;
    padding-top: 70px;
    margin:0;
    overflow-x: hidden;
    background-color: #f7f8fa;
}

textarea {
    resize: none;
}



.alert {
    text-align: center;
    margin-top: -15px;
}


.navbar {
    background-color: #2cb62c;
}

.navbar a {
    color: #fff !important;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh !important;
    width: 100vw !important;
}