.single-receita-content, .receita-content {
    background-color: #fff ;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.714);
    border-radius: 7px;
}

.receita-content {
    padding: 20px;
}

.single-receita-content img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-receita i {
    position: absolute;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}


#singleOption {
    display: none;
    position: absolute;
    z-index: 100;
    left:515px;
    top: 340px;
    width: 800px
}

#singleOption a {
    cursor: pointer;
}


#salvarReceita {
    cursor: pointer;
}

